<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.excalibur.center.priv-write">
    <description>Excalibur Center donanım yazma (LED / güç planı)</description>
    <message>Excalibur Center donanım ayarlarını güncellemek için izin istiyor.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/excalibur-center/priv-write-helper</annotate>
  </action>
</policyconfig>
